# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env files
.env
.env*.local

# debug
npm-debug.log*

# prisma
prisma/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# turbo
.turbo/
